@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#chart {
  display: none;
  overflow: hidden;
  background: rgba(100, 100, 100, 0.7);
  background: radial-gradient(
    rgba(255, 255, 255, 1)
  , rgba(255, 255, 255, 0.85) 55%
  , rgba(255, 255, 255, 0) 71%
  );
  @media screen and (max-width: $chart-max-width) {
    width: 100vw;
    height: 100vw;
    margin-top: -50vw;
    margin-left: -50vw;
    border-radius: 50vw;
  }

  width: $chart-max-width;
  height: $chart-max-width;
  margin-top: -$chart-max-width/2;
  margin-left: -$chart-max-width/2;
  border-radius: $chart-max-width/2;

  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;

  #legend {
    position: fixed;
    top: 47%;
    left: 47%;
    font-size: 1.5em;
    line-height: 1.2em;
    height: 0px;
  }

  &.fade-in {
    display: block;
    @include animation-name(fade-in);
    @include animation-duration(1s);
    @include animation-fill-mode(forwards);
  }
}
path, circle {
  fill:none;
  stroke:grey;
}
.labelLabels {
  font-size: 10px;
  font-weight: bold;
  text-anchor: start;
  margin-left: 10px;
}
.axisTempAxis {
  stroke-width: 0.5px;
}
.axis text {
  font: 10px sans-serif;
}
.barTemperature {
  stroke-width: 2px;
}
.graphMediana, .gridLineTempGrid {
  stroke: rgba(0, 0, 0, 0.21)
}
.labelMonths {
  font-size: 1.1em;
  text-anchor: start;
  color: grey;
}
.highlight {
  stroke-width: 4px;
}
