@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#chart {
  display: none;
  overflow: hidden;
  background: rgba(100, 100, 100, 0.7);
  background: radial-gradient(
    rgba(255, 255, 255, 1)
  , rgba(255, 255, 255, 0.85) 55%
  , rgba(255, 255, 255, 0) 71%
  );
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  border-radius: 400px;
  opacity: 0;

  #city {
    position: relative;
    top: $center-y;
    left: $center-x - 100px;
    font-size: 5em;
    height: 0px;
  }
  #legend {
    position: relative;
    top: $center-y;
    left: $center-x - 100px;
    font-size: 1.5em;
    line-height: 1.2em;
    height: 0px;
  }

  &.fade-in {
    display: block;
    @include animation-name(fade-in);
    @include animation-duration(1s);
    @include animation-fill-mode(forwards);
  }
}
path, circle {
  fill:none;
  stroke:grey;
}
.labelLabels {
  font-size: 10px;
  font-weight: bold;
  text-anchor: start;
  margin-left: 10px;
}
.axisTempAxis {
  stroke-width: 0.5px;
}
.axis text {
  font: 10px sans-serif;
}
.barTemperature {
  stroke-width: 2px;
}
.graphMediana, .gridLineTempGrid {
  stroke: rgba(0, 0, 0, 0.21)
}
.labelMonths {
  font-size: 1.1em;
  text-anchor: start;
  color: grey;
}
.highlight {
  stroke-width: 4px;
}
