$bg: grey;
$primary-color: #333;
$secondary-color: #aaa;
$inverse-color: #fff;
$center-x: 300px;
$center-y: 400px;
$chart-width: 800px;

$header-height: 100px;

@import "map.scss";
@import "chart.scss";

body {
  margin: 0;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica;
  color: $primary-color;
}
h1 {
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#header {
  position: fixed;
  top: 0px;
  height: $header-height;
  width: 100%;
  opacity: 0.7;
  background: $bg;
  z-index:1;
  h1 {
    color: $inverse-color;
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 20px;
  font-size: 1.6em;
  line-height: 1.4em;
}
#menu {
  position: fixed;
  right: 0px;
  background-color: $bg;
  z-index:1;
}
