@import "/node_modules/leaflet/dist/leaflet.css";

.leaflet-control-zoom {
  top: 15vh;
  left: 2vw;
  border-radius: 16px;
  overflow: hidden;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
  font-family: inherit;
  font-size: initial;

  &.overlayed {
    filter: grayscale(1);
  }

  .stations, .stations svg {
    position: absolute;
  }

  .stations svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
  }

  .station {
    fill: rgba(255, 0, 0, 0.3);
    stroke: red;
    stroke-width: 2px;
  }

  .leaflet-marker-icon {
    height: 0 !important;
    margin: -32px -16px !important;
    border: none;
    display: flex;

    img {
      min-height: 37px;
    }

    div {
      min-width: 24px;
      height: 24px;
      border-radius: 50%;
      font-size: 0.65em;
      text-align: center;
      color: #fff;
      border: 2px solid var(--dark2);
      background-color: var(--dark);
      align-content: center;
    }

    &.active {
      filter: drop-shadow(2px 4px 6px black)
    }
  }

  .leaflet-control-attribution {
    height: 22px;
    width: 50vw;
    text-align: end;
    background-color: white;
    padding: 0 16px;
    margin: 0;

    @media (max-width: 768px) {
      width: 100vw;
      margin-bottom: 22px;
      text-align: center;
      padding: 0;
    }
  }
}